@import "tailwindcss";


@import './styles/datepicker.css';


@layer components {
  /* Select Input Styles */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  select option {
    @apply bg-zinc-800 text-white py-3 px-4;
  }

  select option:checked {
    @apply bg-green-500;
  }

  /* Date Input Styles */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.5;
  }

  input[type="date"]::-webkit-datetime-edit-text,
  input[type="date"]::-webkit-datetime-edit-month-field,
  input[type="date"]::-webkit-datetime-edit-day-field,
  input[type="date"]::-webkit-datetime-edit-year-field {
    @apply text-gray-400;
  }

  input[type="date"]:focus::-webkit-datetime-edit-text,
  input[type="date"]:focus::-webkit-datetime-edit-month-field,
  input[type="date"]:focus::-webkit-datetime-edit-day-field,
  input[type="date"]:focus::-webkit-datetime-edit-year-field {
    @apply text-white;
  }
}
